{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}
{% block content %}
	<section class="404" style="height: 100vh;">
		<div class="container w-100 h-100">
			<div class="row my-auto w-100 h-100">
				<div class="col-8 col-sm-8 col-md-8 col-lg-6 col-xl-4 m-auto" style="margin-bottom: 0 !important;">
					<img src="{{ site.theme.link }}/assets/images/404.png" class="img-fluid">
				</div>
				<div class="col-12 mx-auto text-center">
					<h1 class="text-white display-3">404</h1>
					<h4 class="text-white-50">Página não encontrada.</h4>
					<p class='lead text-white-50'>A página que você está procurando não existe ou ocorreu outro erro.</p>
					<a href="{{ site.link }}" class="text-uppercase">Voltar ao site</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}